<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.demo.controllers.LoginController</servlet-class>
        <param-name>language</param-name>
        <param-value>Vietnamese</param-value>
        <context-param>
            <param-name>language</param-name>
            <param-value>Vietnamese</param-value>
        </context-param>
    </servlet>
    <servlet>
        <servlet-name>CategorySectionController</servlet-name>
        <servlet-class>com.demo.controllers.CategorySectionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookController</servlet-name>
        <servlet-class>com.demo.controllers.BookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileBookDownloadController</servlet-name>
        <servlet-class>com.demo.controllers.ProfileBookDownloadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileBookUploadController</servlet-name>
        <servlet-class>com.demo.controllers.ProfileBookUploadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileRatingController</servlet-name>
        <servlet-class>com.demo.controllers.ProfileRatingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileChangePasswordController</servlet-name>
        <servlet-class>com.demo.controllers.ProfileChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateInformationController</servlet-name>
        <servlet-class>com.demo.controllers.UpdateInformationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportBookController</servlet-name>
        <servlet-class>com.demo.controllers.ReportBookController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookController</servlet-name>
        <url-pattern>/book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategorySectionController</servlet-name>
        <url-pattern>/CategorySectionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileBookDownloadController</servlet-name>
        <url-pattern>/ProfileBookDownloadController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileBookUploadController</servlet-name>
        <url-pattern>/ProfileBookUploadController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileRatingController</servlet-name>
        <url-pattern>/ProfileRatingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileChangePasswordController</servlet-name>
        <url-pattern>/ProfileChangePasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateInformationController</servlet-name>
        <url-pattern>/UpdateInformationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportBookController</servlet-name>
        <url-pattern>/ReportBookController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            300
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/error404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error500.jsp</location>
    </error-page>
    <welcome-file-list>
        <welcome-file>/home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
