USE [master]
GO
/****** Object:  Database [BookZ]    Script Date: 7/19/2022 9:36:40 PM ******/
CREATE DATABASE [BookZ]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookZ', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BookZ.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BookZ_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BookZ_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookZ].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookZ]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 7/19/2022 9:36:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[BookID] [char](6) NOT NULL,
	[Title] [nvarchar](120) NOT NULL,
	[Author] [nvarchar](120) NULL,
	[Publisher] [nvarchar](120) NULL,
	[Language] [nvarchar](20) NULL,
	[Cover] [varchar](255) NULL,
	[Description] [ntext] NULL,
	[NoDownload] [int] NOT NULL,
	[FilePDF] [varchar](255) NULL,
	[FileEpub] [varchar](255) NULL,
	[IsAccepted] [bit] NOT NULL,
	[DateUpload] [datetime] NOT NULL,
	[LastDateEdit] [datetime] NULL,
	[MemberUpload] [char](5) NOT NULL,
	[MemberLastEdit] [char](5) NULL,
	[CategoryID] [char](3) NULL,
	[isDeleted] [bit] NULL,
 CONSTRAINT [PK__Book__3DE0C22741475006] PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 7/19/2022 9:36:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [char](3) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Download]    Script Date: 7/19/2022 9:36:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Download](
	[DateDownload] [datetime] NOT NULL,
	[BookID] [char](6) NOT NULL,
	[MemberID] [char](5) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 7/19/2022 9:36:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[MemberID] [char](5) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[Avatar] [varchar](255) NULL,
	[Role] [varchar](10) NOT NULL,
	[FirstName] [nvarchar](20) NOT NULL,
	[LastName] [nvarchar](50) NULL,
	[Birthday] [date] NOT NULL,
	[NoUploadedBook] [int] NOT NULL,
	[Gender] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rating]    Script Date: 7/19/2022 9:36:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rating](
	[RatingID] [char](6) NOT NULL,
	[Star] [int] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[DateRating] [datetime] NOT NULL,
	[LastDateEdit] [datetime] NULL,
	[BookID] [char](6) NOT NULL,
	[MemberID] [char](5) NOT NULL,
	[Deleted] [bit] NULL,
 CONSTRAINT [PK__Rating__FCCDF85CD9A845F3] PRIMARY KEY CLUSTERED 
(
	[RatingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportBook]    Script Date: 7/19/2022 9:36:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportBook](
	[DateReport] [datetime] NOT NULL,
	[ReportType] [nvarchar](50) NOT NULL,
	[Detail] [nvarchar](1000) NULL,
	[ReportState] [varchar](10) NOT NULL,
	[BookID] [char](6) NOT NULL,
	[MemberID] [char](5) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Category] ([CategoryID], [CategoryName]) VALUES (N'C00', N'Văn học')
INSERT [dbo].[Category] ([CategoryID], [CategoryName]) VALUES (N'C01', N'Tâm lý - Kỹ năng sống')
INSERT [dbo].[Category] ([CategoryID], [CategoryName]) VALUES (N'C02', N'Lịch sử - Địa lý')
GO
INSERT [dbo].[Download] ([DateDownload], [BookID], [MemberID]) VALUES (CAST(N'2022-07-13T00:00:00.000' AS DateTime), N'B00000', N'M0003')
INSERT [dbo].[Download] ([DateDownload], [BookID], [MemberID]) VALUES (CAST(N'2022-07-14T00:00:00.000' AS DateTime), N'B00001', N'M0003')
INSERT [dbo].[Download] ([DateDownload], [BookID], [MemberID]) VALUES (CAST(N'2022-07-14T00:00:00.000' AS DateTime), N'B00002', N'M0003')
GO
INSERT [dbo].[Member] ([MemberID], [Email], [Password], [Avatar], [Role], [FirstName], [LastName], [Birthday], [NoUploadedBook], [Gender]) VALUES (N'M0000', N'admin0@gmail.com', N'123456789', N'M0000.jpg', N'admin', N'Phú', N'Huỳnh', CAST(N'2002-06-04' AS Date), 19, N'Male')
INSERT [dbo].[Member] ([MemberID], [Email], [Password], [Avatar], [Role], [FirstName], [LastName], [Birthday], [NoUploadedBook], [Gender]) VALUES (N'M0001', N'admin1@gmail.com', N'123456789', N'admin1.jpg', N'admin', N'Bình', N'Nguyễn Thanh', CAST(N'2002-01-01' AS Date), 8, N'Male')
INSERT [dbo].[Member] ([MemberID], [Email], [Password], [Avatar], [Role], [FirstName], [LastName], [Birthday], [NoUploadedBook], [Gender]) VALUES (N'M0002', N'admin2@gmail.com', N'123456789', N'admin2.jpg', N'admin', N'Kiệt', N'Chu Tuấn', CAST(N'2002-01-02' AS Date), 3, N'Male')
GO
INSERT [dbo].[Rating] ([RatingID], [Star], [Comment], [DateRating], [LastDateEdit], [BookID], [MemberID], [Deleted]) VALUES (N'R00000', 5, N'Cảm ơn bạn, nghe nói cuốn sách này khá hay', CAST(N'2022-06-06T00:00:00.000' AS DateTime), NULL, N'B00000', N'M0003', 0)
INSERT [dbo].[Rating] ([RatingID], [Star], [Comment], [DateRating], [LastDateEdit], [BookID], [MemberID], [Deleted]) VALUES (N'R00001', 5, N'Sách rất hay', CAST(N'2022-06-06T00:00:00.000' AS DateTime), NULL, N'B00000', N'M0004', 0)
INSERT [dbo].[Rating] ([RatingID], [Star], [Comment], [DateRating], [LastDateEdit], [BookID], [MemberID], [Deleted]) VALUES (N'R00002', 5, N'hayyyyy lắm mn oi', CAST(N'2022-06-07T00:00:00.000' AS DateTime), NULL, N'B00000', N'M0005', 0)
GO
INSERT [dbo].[ReportBook] ([DateReport], [ReportType], [Detail], [ReportState], [BookID], [MemberID]) VALUES (CAST(N'2022-07-10T00:00:00.000' AS DateTime), N'Wrong book information
', N'Thiếu tên NXB', N'Process   ', N'B00030', N'M0003')
INSERT [dbo].[ReportBook] ([DateReport], [ReportType], [Detail], [ReportState], [BookID], [MemberID]) VALUES (CAST(N'2022-07-10T00:00:00.000' AS DateTime), N'Wrong book information
', N'Thiếu file EPUB', N'Denied    ', N'B00017', N'M0003')
INSERT [dbo].[ReportBook] ([DateReport], [ReportType], [Detail], [ReportState], [BookID], [MemberID]) VALUES (CAST(N'2022-07-01T00:00:00.000' AS DateTime), N'Damaged File
', N'Không tải được file ', N'Process   ', N'B00027', N'M0004')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Member__A9D10534B71C7858]    Script Date: 7/19/2022 9:36:40 PM ******/
ALTER TABLE [dbo].[Member] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FKBook712907] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FKBook712907]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FKBook935807] FOREIGN KEY([MemberUpload])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FKBook935807]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FKBook950482] FOREIGN KEY([MemberLastEdit])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FKBook950482]
GO
ALTER TABLE [dbo].[Download]  WITH CHECK ADD  CONSTRAINT [FKDownload32955] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[Download] CHECK CONSTRAINT [FKDownload32955]
GO
ALTER TABLE [dbo].[Download]  WITH CHECK ADD  CONSTRAINT [FKDownload466591] FOREIGN KEY([BookID])
REFERENCES [dbo].[Book] ([BookID])
GO
ALTER TABLE [dbo].[Download] CHECK CONSTRAINT [FKDownload466591]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FKRating736872] FOREIGN KEY([BookID])
REFERENCES [dbo].[Book] ([BookID])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FKRating736872]
GO
ALTER TABLE [dbo].[Rating]  WITH CHECK ADD  CONSTRAINT [FKRating762673] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[Rating] CHECK CONSTRAINT [FKRating762673]
GO
ALTER TABLE [dbo].[ReportBook]  WITH CHECK ADD  CONSTRAINT [FKReportBook659826] FOREIGN KEY([BookID])
REFERENCES [dbo].[Book] ([BookID])
GO
ALTER TABLE [dbo].[ReportBook] CHECK CONSTRAINT [FKReportBook659826]
GO
ALTER TABLE [dbo].[ReportBook]  WITH CHECK ADD  CONSTRAINT [FKReportBook812217] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Member] ([MemberID])
GO
ALTER TABLE [dbo].[ReportBook] CHECK CONSTRAINT [FKReportBook812217]
GO
USE [master]
GO
